<div id="about">
  <h1> About Us </h1>
  <div id="ainfo"> We've been married since July 9, 2011 and desire to serve God on the mission field. Laura wants to translate the Bible, making God's Word available to anyone and everyone and Jordan wants to disciple people, helping them to make the most of their lives by glorifying God.

  <div id="Jordan">
    <h2>About Jordan</h2>
	<p></p>
  </div>
  
  <div id="Laura">
	<h2>About Laura</h2>
	<p></p>
  </div>
  </div>
</div>