<div id="contact">
	<h1>Contact Us</h1>
	<div id="contactinner">
		<div id="contactform">
			<%#= form_tag contact_url do %>
				<%#= text_field_tag 'name', "Name(required):", {:onfocus => "this.value=''", :name => "nametext", :class => "nametext"}%>
				<%#= email_field_tag 'email', "Email(required):", {:onfocus => "this.value=''", :name => "emailtext", :class => "emailtext"}%>
				<%#= text_area_tag 'message', "Message(required):", {:onfocus => "this.value=''", :name => "messagetext", :class => "messagetext"}%>
				<%#= submit_tag "Send", {:class => "submit"}%>
			<%#end%>
			Coming Soon!
		</div>
	</div>
</div>