/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
html{
	position: relative;
	min-height: 100%;
}

body{
	background: url(/images/bg.jpg) repeat-x fixed bottom center;
	margin: 0;
	padding: 0;
	border:0;
}

a {
	text-decoration:none;
	color:#FFFFFF;
}

#navbar {
	background-color: #4D4D4D;
	width: 100%;
	height: 25px;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
}

#navbar ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#navbar li{
	display:inline;
	padding: 1em;
}

#navbar a {
	color: #FFFFFF;
	text-decoration:none;
}

.loginlink, .logoutlink {
	float: right;
	padding-right: 1em;
}

#headtext{ 
	background: #063B01;
	margin: 20px;
	padding: 10px;
	color: #F5F5F5;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

#content {
    margin: 30px auto 1px auto;
    width: 90%;
    background: url(/images/white80.png) repeat;
	overflow: auto;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

/*two display columns*/
.Jordan {
	position: relative;
	margin: 5px 7px 25px 25px;
	padding: 5px;
	width: 45%;
	float:left;
	background: #808080;
	border-radius: 15px;
	-moz-border-radius: 15px;
	color: #000000;
}

.Laura {
	position: relative;
	margin: 5px 25px 25px 7px;
	padding: 5px;
	width: 45%;
	float:right;
	background: #808080;
	border-radius: 15px;
	-moz-border-radius: 15px;
	color: #000000;
}
/*end two columns*/

#adminindex h1 {
	color: #000000;
	text-align: center;
	padding-bottom: 1em;
	border-bottom: solid black;
}

#spacer{
	height:25px;
}

#footer{
	background-color: #4D4D4D;
	width: 100%;
	height: 20px;
	display: block;
	position: absolute;
	bottom: 0;
	z-index: 1;
	color: #000000;
}
#footer ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#footer li{
	display:inline;
	color: #FFFFFF;
}