// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*home page*/
#home {}

#home h1 {
	color: #000000;
	text-align: center;
	padding-bottom: 1em;
	border-bottom: solid black;
}

.title {height: 50px;}

/*end home*/

/*about page*/
#about {}

#about h1{
	color: #000000;
    text-align: center;
    padding-bottom: 1em;
    border-bottom: solid black;
  }

#ainfo{
	text-align: center;
	padding: 5px;
	background: #808080;
	margin: 1em;
	border-radius: 15px;
	-moz-border-radius: 15px;
	color: #000000;
}

/*end about*/

/* posts */
#posts h1{
	color: #000000;
	text-align: center;
	padding-bottom: 1em;
	border-bottom: solid black;
}

#posts th {
	text-align: left;
}
#posts a:visited {}

/*end posts*/

/* contact */
#contact h1 {
	color: #000000;
	text-align: center;
	padding-bottom: 1em;
	border-bottom: solid black;
}

#contactinner {
	padding: 5px;
	text-align: center;
	background: #808080;
	margin: 1em;
	border-radius: 15px;
	-moz-border-radius: 15px;
	color: #000000;
}

#contactform {
	width: 32em;
}

#contactform .nametext{width: 174px;}
#contactform .emailtext{width: 174px;}
#contactform .messagetext{width: 360px; height: 10em}
#contactform .submit{position: relative; bottom: 25px; left:366px;}
/*end contact*/