// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login{
	
}
.name{margin-left: 34px;}
.password{margin-left: 10px}
.login{position: relative; left: 225px; bottom: 20px}
fieldset {
	border: none;
	padding: 5px;
	background: #808080;
	margin: 1em;
	border-radius: 15px;
	-moz-border-radius: 15px;
	color: #000000;
}

label {
	margin-left: 10px;
}

legend {
	padding-bottom: 20px;
}